@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Afacad", sans-serif;
}

/* Apply styles to all checkboxes */
input[type="checkbox"] {
  /* Hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  /* Set the size of the checkbox */
  width: 15px;
  height: 15px;
  /* Make the checkbox round */
  border-radius: 50%;
  /* Add some padding to give space around the circle */
  padding: 5px;
  /* Add border for better visibility */
  border: 2px solid rgb(206, 206, 206);
  background-color: transparent;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Style the checked state */
input[type="checkbox"]:checked {
  /* Set the background color to your desired color */
  background-color: rgb(0, 68, 255) ; /* Green color as an example */
  /* You can also change the border color on checked state if needed */
  border-color:  rgb(0, 68, 255);
}
